
<!--Zorg dat er na elke lijn 2 SPATIES en dan pas ENTER staat, anders staat alles op 1 lijn. Zorg dat er geen blanco plaats is voor een lijn, dit verander de opmaak-->


<h3>Current</h3>


<div class="links" markdown="1">

**Menin Road / Ypernstrasse**   
_Group exhibition about W.O.I., curated by Johan Tahon, supported by Flanders Fields Museum, Flanders - State of the Arts,..._   
---  
<span class="date">04 june - 25 sept 2016</span>   
Route Menin, Wervik, Zonnebeke and Ypres (BE)  
---  
[more info](http://www.meninroadypernstrasse.be){:target="_blank"}

</div>

<div class="rechts" markdown="1">

**Living the Image - Working Title Situation #04**   
_Festival For Artistic Discovery - performance, visual arts, installation, video_    
---  
<span class="date">03-04 june 2016</span>  
Quincaillerie Vander Eycken, Rue du Viaduc 66, Bruxelles (BE)    
---   
[more info](http://www.workspacebrussels.be){:target="blank"}

</div>

<div class="links" markdown="1">

**GO AWAY SORROW OF THE WORLD**      
_Wooden suitcase project: different unfoldable wooden suitcases, designed to fit in the hand luggage compartment of an airplane and made in such a way that every case can be a piece of art or performative action. Supported by [City of Ghent](https://stad.gent/kunst-op-straat/nieuws-evenementen/go-away-sorrow-world){:target="_blank"}, [CAMPO Arts Center](http://www.campo.nu){:target="_blank"}_  
---  
<span class="date">Ongoing: jan 2016 - dec 2018</span>   
Hong Kong, Belfast, Brussels, Rotterdam, Skaland, enz.  
---  
[more info on our blog](../blog/)

</div>
    
    
    
<br><h3>Upcoming</h3>

    
    
<div class="links" markdown="1">

**Art Boxing**  
_R&F F&R are presenting an art boxing contest during the open house of the City Academia for Visual Arts in Ghent._  
---  
<span class="date">26 june @ 15h30</span>  
’De Academie voor Beeldende Kunst Gent’, Offerlaan 3, 9000 Ghent (BE)  
---   
[more info](http://www.academiegent.be){:target="blank"}

</div>


<div class="rechts" markdown="1">

**TO BREAK / The Window of Opportunity**  
_Theatershow by R&F F&R / CAMPO Arts Center @ the Spoiwy Kultury Festival, Poland_  
---  
<span class="date">2 july 2016 </span>  
KANA THEATRICAL CENTRE  
Pl. św. św. Piotra i Pawła 4/5, 70-521 Szczecin, Poland  
---  
[more info](http://www.kana.art.pl){:target="blank"}   

</div>

<div class="links" markdown="1">

**Imaginairy Game Soundtrack**  
_Group exhibition/performance: a project by Sara van Woerden (NL) in collarboration with R&F F&R and other artists_  
---  
<span class="date">sept 2016</span>  
Antwerp (details follow)  
---  
[more info](http://igsatour.weebly.com){:target="blank"}  

</div>

<div class="rechts" markdown="1">

**Unter Waffen. Fire and Forget 2**  
_Group exhibition, curated by Ellen Blumenstein and Daniel Tyradellis  
The weapon as a designed object_  
---  
<span class="date">09 sept 2016 - 26 feb 2017</span>   
Museum Angewandte Kunst  
Schaumainkai 17, 60594 Frankfurt am Main, Deutschland  
---  
[more info](http://www.museumangewandtekunst.de/en/){:target="blank"}   

</div>

<div class="links" markdown="1">

**Frankfurter Buchmesse**  
_Arts Center CAMPO will join the Guest of Honour program and is presenting the works of 4 Belgian artists. R&F F&R will work in Frankfurt for 2 weeks and present their theater piece ‚TO BREAK’_  
---  
<span class="date">15 & 16 oct 2016</span>  
Location unknown (details follow)  
---   
[more info](http://buchmesse.de/en/guestofhonour/){:target="blank"}

</div>

<div class="rechts" markdown="1">

**Artistic Coloring Book**  
_A project by Sara van Woerden (NL): 10 invited artists present their version of a unique colored page of a coloring book designed by another artist_  
---  
<span class="date">july 2016 - feb 2017</span>  
Location unknown (details follow)  
---  
[more info](http://saravanwoerden.com){:target="blank"}  

</div>

<div class="links" markdown="1">

**The Gentlemen’s Gentlemen II**  
_Collaboration between [De Buren collective](http://www.oshinalbrecht.be/index.php?page=buren){:target="blank"} and R&F F&R. Together they will reinterpret the original The Gentlemens Gentlemen performance made by Brian Getnick & Noe Kidder in 2012_  
---  
<span class="date">nov 2016 - jan 2017</span>   
Croxhapox, experimental art space  
Lucas Munichstraat 76, 9000 Ghent (BE)  
---  
[more info](http://croxhapox.org/c/){:target="blank"}   

</div>

<div class="rechts" markdown="1">

**New Theater Piece by F&R R&F - no title**  
_Frank & Robbert are working on a new theaterpiece for [CAMPO](http://www.campo.nu){:target="blank"} (Gent) in coproduction with [De Beurschouwburg](http://www.beursschouwburg.be/en/){:target="blank"} (Brussel)_  
---  
<span class="date">Première: mid february 2017</span>  
Location unknown (details follow)  
---  
[more info](../theater/)  

</div>
