<header>
    
    <nav class='hoek'>
                <a href="../theater/" class="theater"><strong>theater</strong></a>
                <a href="../visual-arts/" class="visualarts"><strong>visual<br>arts</strong></a>
    </nav>
    
    <div class='midden'>
        
        <div class='agenda'>
            <a href="../agenda/">Agenda</a>
        </div>
        
        <a href="../about/" class='logo'>{% include icons/logokoffertje.html %}</a> 
        
        <div class='blog'>
            <a href="../blog/">Blog</a>
        </div>
        
    </div>
         
</header>