<main>
    
<p><a href="../about/"><strong>Robbert&Frank Frank&Robbert</strong></a> is an artist duo based in Ghent, Belgium. </p>

    <p>"If we take artists as the barometer for the changes happening in contemporary society, then the work of the duo F&R R&F offers up a richly varied, full-colour readout. Like a well-oiled machine, completely in tune with the zeitgeist and marching to the rhythm of an increasingly globalised world, they are quickly amassing a diverse oeuvre. <strong><a href="../visual-arts/">Visual art</a>, <a href="../visual-arts/">video work</a>, <a href="../theater/">theatre shows</a>, <a href="../theater/">performances</a>, ...</strong> the multidisciplinary world of F&R R&F forms an unimpeded supernation unto itself." - Beatrijs Eemans</p>

</main>