<main>
    
    <h3>GO AWAY SORROW OF THE WORLD</h3>
    
    In this blog you can follow Robbert&Frank Frank&Robbert as they travel around the globe to spread their message 'GO AWAY SORROW OF THE WORLD'. With a little wooden suitcase as their only weapon they try to make the world a better place. Each time they present their suitcase the message is translated in the local language. Whenever they unfold their suitcase and someone or something reads the message, of even thinks the message, a vibration is send into the universe.<br><br>
    
    Just like monks that repetitively chant the same phrases over and over again, R&F F&R are repeating the action of unfolding and presenting the message in different places and contexts and are prepared to do this for as long as possible (maybe a lifetime...)<br><br>
    
    <strong>The blog is still under construction.</strong> But a very first montage of actions in Hong Kong, Guangzhou (China), Skaland (Norway), Keulen (Germany), Belfast (UK), Rotterdam (Netherlands) Brussels (Belgium) can be seen here.<br><br>
    
    <iframe src="https://player.vimeo.com/video/160741217?color=ffffff&portrait=0" width="750" height="396" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    This project is supported by: <a href="http://www.campo.nu" target="_blank">Campo Arts Center</a>, <a href="https://stad.gent/kunst-op-straat/nieuws-evenementen/go-away-sorrow-world" target="_blank">City of Ghent</a>.<br><br>
    
    Thanks to: <a href="http://www.wingplatform.org" target="_blank">WING</a> Hong Kong, <a href="http://www.mtm-gifts.com/nl/" target="_blank">MTM Gifts</a> Hong Kong / Belgium, <a href="http://www.krakeslott.no/" target="_blank">Krakeslott</a> Norway.<br><br>


</main>